.idea
# exclude the .env file which will be created from env.example
.env

# exclude the apps folder
/config/opencloud/apps

# exclude the keycloak theme custom javascript file
/config/keycloak/themes/opencloud/login/resources/js/custom.js

# exclude custom compose files
/custom